<div class="row">
    <div class="col-9 p-2">
        <h2>Test</h2>
        <div *ngFor="let product of products" class="card m-1 p-1 bg-light text-dark">
            <h4>
                {{product.name}}
                <span CLASS="badge badge-pill badge-primary float-right">
                    {{ product.price | currency:"EUR":"symbol":"2.2-2" }}
                </span>
            </h4>
            <div class="card-text bg-white p-1 text-dark">{{product.description}}</div>
        </div>
</div>