<div class="container-fluid">
    <div class="row">
        <div class="col bg-dark text-white">
            <a href="#" class="navbar-brand">Sports Store</a>
        </div>
    </div>
     <!-- Form -->
     <div class="form-body">
      <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
        <div>
          <label>Name: </label>
          <input type="text" formControlName="name" autocomplete="off">
        </div>
        <div>
          <label>Description: </label>
          <input type="text" formControlName="description" autocomplete="off">
        </div>
        <div>
          <label>Price: </label>
          <input type="text" formControlName="price" autocomplete="off">
        </div>
        <button type="submit">Submit</button>
      </form>
  </div>
    <!--Router / Navigation -->
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/admin">User </a></li>
        <li><a routerLink="/store">Store</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
</div>

